
.ipynb_checkpoints/scikit-learn -  machine learning in Python-checkpoint.ipynb
.ipynb_checkpoints/Scipy - high-level scientific computing-checkpoint.ipynb
data/.ipynb_checkpoints/movies_recommendation_data-checkpoint.csv
